mqt-core @ git+https://github.com/munich-quantum-toolkit/core.git@ee7edb68a691e1d9a440dfd16b605f81f05d5c21
qiskit[qasm3-import]>=2.5.0,<2.6.0
qiskit-ibm-runtime
numpy
scipy
git+https://github.com/1ucian0/pytest-benchmark.git@e33f5934cb462e719b13b8d352ced107f575b4f7
